langchain==0.3.27
langchain-chroma==0.2.6
langchain-community==0.3.31
langchain-core==0.3.79
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
python-dotenv
streamlit
sentence-transformers
pypdf
faiss-cpu
duckduckgo-search
ddgs
pymupdf
arxiv
wikipedia
